:root {
  --line-color: #bdac9a;
  --bg-color: #00ffff;  
  --panel-color: #00ffff;
  --theme-color: #29334d;
  --text-color: #29334d;
}

.container{
    background: #29334d;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    background: #00ffff;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 13px 35px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}
nav ul li::after{
    content: '';
    background: #bdac9a;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
body {
    background-color: var(--bg-color);
    padding: 0;
    margin: 0;
}
    
main {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#content {
    background-color: var(--panel-color);
    padding: 0.3rem;
    border: 2px solid var(--line-color);
    flex: 0 1 auto;
}

.plat {
    background-color: var(--theme-color);
    font-size: 1.6rem;
    cursor: pointer;
    margin-top: 0.1em;
    text-transform: uppercase;
    line-height: 1;
}

.plat:first-of-type {
    margin-top: 0;
}

.plat:hover {
    background-color: rgb(185, 166, 148);
}

a {
    color: #29334d;
    text-decoration: none;
    display: block;
    padding: 0.3rem 2rem 0.3rem 0.75rem;
    transition: transform 0.5s;
}

a:first-letter {
    font-size: 1.6em;
}

a:hover {
    transform: perspective(1px) translateX(1rem);
}

hr {
    border: none;
    border-top: 1px solid var(--line-color);
}
