:root {
    --line-color: #0356fc;
  }
  
body {
  height: 100vh;
  overflow-y: auto;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  max-width: 70%;
  width: auto;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1;
}
  
  #content {
    background-color: rgba(255, 255, 255, 0.18);
    padding: 0.6rem;
    border: 0px solid var(--line-color);
  }
  
  .plat {
    background-color: rgb(252, 179, 246);
    font-family: "Nunito", sans-serif;
    font-size: 2rem;
    cursor: pointer;
    margin-top: 0.1em;
    line-height: 1;
  }
  
  .plat:first-of-type {
    margin-top: 0;
  }
  
  .plat:hover {
    background-color: rgb(185, 166, 148);
  }
  
  a {
    color: #30231c;
    text-decoration: none;
    display: block;
    padding: 0.3rem 2rem 0.3rem 0.75rem;
    transition: transform 0.5s;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  a:hover {
    transform: perspective(1px);
  }
  
  hr {
    border: none;
    border-top: 1px solid var(--line-color);
  }
  
  .parallax {
    /* The image used */
    background-image: url(bluearchivebkg.jpg);
    
    /* Set a specific height */
    height: 100vh;
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
  }


  .gblock {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: "Nunito", sans-serif;
    
    text-align:center;
    font-size:1.2em;
    line-height: 1.5;
   
    right:0;
    list-style-type: none;  
    position:fixed;
    background-color: rgba(255,255,255,.18);
   .gblock li {
      display: flex;
      justify-content: space-between;
    }
    
  .gblock li span {
      flex-grow: 1;
      text-align: left;
      padding-right: 10px;
    }
    
  
  }
