:root {
  --line-color: #bdac9a;
}

body {
    background-color: rgb(75, 72, 69);    
    padding: 0;
    margin: 0;
}
    
main {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#content {
    background-color: rgba(188, 169, 151, 0.18);
    padding: 0.3rem;
    border: 2px solid var(--line-color);
    flex: 0 1 auto;
}

.plat {
    background-color: rgb(158, 141, 125);
    font-size: 1.6rem;
    cursor: pointer;
    margin-top: 0.1em;
    text-transform: uppercase;
    line-height: 1;
}

.plat:first-of-type {
    margin-top: 0;
}

.plat:hover {
    background-color: rgb(185, 166, 148);
}

a {
    color: #30231c;
    text-decoration: none;
    display: block;
    padding: 0.3rem 2rem 0.3rem 0.75rem;
    transition: transform 0.5s;
}

a:first-letter {
    font-size: 1.6em;
}

a:hover {
    transform: perspective(1px) translateX(1rem);
}

hr {
    border: none;
    border-top: 1px solid var(--line-color);
}
